<div>
	<h1 class = "green-text text-darken-4 center-align">NFA Test</h1>
	<canvas id="canvas" width="900" height="400" class="z-depth-5 white">
		<span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
	</canvas>

	<div class="row">
      <div class="col s6, flow-text">
      	<ul>
      		<li>Add State: Double Click </li>
			<li>Add Transition: Shift-drag</li>
			<li>Move: Drag </li>	
      	</ul>
      </div>
      <div class="col s6, flow-text">
      	<ul>
      		<li> Delete: Click & press delete </li>
			<li>Make accept state: Double Click on existing state </li>
      	</ul>
      </div>      
    </div>
</div>