<<<<<<< HEAD
<div class="row">
  <h2> Create PDA </h2>
    <div class="card green lighten-5 col m10 s12 offset-m1">
        <!--<h1>AutomataTest#index</h1>-->
        <!--<p>Find me in app/views/automata_test/index.html.erb</p>
        <h1>Finite State Machine Designer</h1>-->
        <canvas id="canvas" width="800" height="600">
            <span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
        </canvas>
    </div>
</div>
=======
>>>>>>> 21ff3c90d6eae4053319e6defd9dddff8896c5e1
