<div class="row">
  <h2> Create PDA </h2>
    <div class="card white lighten-5 col m10 s12 offset-m1">
        <canvas id="canvas" width="800" height="600">
            <span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
        </canvas>
    </div>
</div>
