<h1>AutomataTest#index</h1>
<p>Find me in app/views/automata_test/index.html.erb</p>
<h1>Finite State Machine Designer</h1>

<canvas id="canvas" width="800" height="600">
	<span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
</canvas>
