<!DOCTYPE html>
<html>
<head>
  <title>ProyectoTeoria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<nav >
		<div>
			<ul class="side-nav">
		        <li><a href="/dfa">DFA</a></li>
		        <li><a href="/pda">NFA</a></li>
		        <li><a href="/pda">Regex</a></li>
		        <li><a href="/pda">CFG</a></li>
		        <li><a href="/pda">PDA</a></li>
		        <li><a href="/tm">Turing Machine</a></li>
      		</ul>	
		</div>		
	</nav>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
