<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Proyecto Teoria</title>
</head>

<body class = "green lighten-4">

 <nav>
    <div class="nav-wrapper green">
      <a href="/"><img src="../fsm.png" class="brand-logo logo"/></a>
    </div>
  </nav>


	<div>
		<%= yield %>
	</div>

</body>
</html>
